    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>Colin is a medical student currently living in Sydney, Australia. His interests range from medicine to education. He is also interested in research.</p>
                <p>You can click the buttons above to navigate their website. If you’d like to get in touch, feel free to say hello through any of the social links below.</p>
                <br/>
              </div>
        </div>
    </section>
